@model MeetingApp.BusinessObject.EntityCommon.MeetingsModule;
<div class="row"
	<div class="col-lg-8">
        <h3>Upcoming Meetings</h3>
	</div>
	<div class="col-lg-8">

		<a href="@Url.Action("InsertMeeting", "Meetings")" class="btn btn-primary">Schedule A New Meeting</a>
    </div>
<div class="row">
	<div class="col-lg-12">
        <table class="table">
            <thead>
                <tr>
					<th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">StartDate</th>
                    <th scope="col">FinishDate</th>
                    <th scope="col">Description</th>
					<th scope="col">Document</th>
				</tr>
			</thead>
			<tbody>

					@{
						if (Model != null && Model.meetingsList != null && Model.meetingsList.Count() > 0)
						{
							foreach (var item in Model.meetingsList)
							{
							<tr>
								<th scope="row">@item.MeetingID</th>
								<th scope="row">@item.MeetingTitle</th>
								<th scope="row">@item.MeetingStartDate</th>
								<th scope="row">@item.MeetingFinishDate</th>
								<th scope="row">@item.MeetingDescription</th>
								<th scope="row">@item.MeetingDocumentName</th>
								<td>
								<div class="btn-group1" role="group">
								<a href="@Url.Action("DownloadFileFromDataBase", "Meetings", new {MeetingID = item.MeetingID})" class="btn btn-primary">Download Document</a>
								<a href="@Url.Action("MeetingDetails", "Meetings", new {MeetingID = item.MeetingID})" class="btn btn-primary">Edit</a>
								<a href="@Url.Action("DeleteMeeting", "Meetings", new {MeetingID = item.MeetingID })" class="btn btn-primary">Delete</a>
								</div>
								</td>
							</tr>
							}
						}
					}
				</tbody>
		</table>
	</div>
</div>